<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Invoice Manager{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"/>
    {% endblock %}
</head>
<header>
    <a href="#" class="logo">Logo</a>
    <a href="{{ path('invoice_report_list') }}" class="button">Invoice Reports</a>
    <a href="{{ path('invoice_report_list') }}" class="button">Invoices</a>
</header>
<body>
<div class="container">
    <div class="row">
{% block body %}
    <div id="sidebar" class="col-sm-2">
        {% block sidebar %}
        {% endblock %}
    </div>

    <div id="content" class="col-sm-10">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
    </div>
</div>
</body>
</html>
