{% extends 'base.html.twig' %}

{% block title %}New Invoice Report{% endblock %}
{% block sidebar %}
    <nav>
        <span>Invoice Report</span>
        <a href="{{ path('invoice_report_list') }}" class="sublink-1">List Reports</a>
    </nav>
{% endblock %}
{% block content %}

    <h1>Upload a new Invoice Report</h1>
    {{ form_start(form) }}

    {{ form_row(form.report) }}
    {{ form_end(form) }}

{% endblock %}
